.test{
	border: 2px solid #000;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
	clip: rect(auto auto auto 120px);
}
.text-clip{
	font-size:196px;
	font-weight:bold;
	background-image: url(../images/timg.jpeg) repeat;
	background-size: auto;
	background-clip: text;
}
.all{
	position: static;
	position: relative;
	position: absolute;
	position: fixed;
	position: center;
	position: page;
	position: sticky;
	z-index: auto;
	top: auto;
	right: 0;
	bottom: 100%;
	left: 2px;
	clip: auto;
	display: none;
	display: block;
	display: inline;
	display: block;
	display: list-item;
	display: inline-block;
	display: table;
	display: inline-table;
	display: table-caption;
	display: table-cell;
	display: table-row-group;
	display: table-column;
	display: table-column-group;
	display: table-footer-group;
	display: table-header-group;
	display: run-in;
	display: box;
	display: inline-box;
	display: flexbox;
	display: inline-flexbox;
	display: flex;
	display: inline-flex;
	visibility: visible;
	visibility: hidden;
	visibility: collapse;
	overflow: visible;
	overflow: hidden;
	overflow: scroll;
	overflow: auto;
	overflow: paged-x;
	overflow: paged-y;
	overflow: paged-x-controls;
	overflow: paged-y-controls;
	overflow: fragments;
	overflow-x: auto;
	overflow-y: auto;
	width: auto;
	min-width: auto;
	max-width: auto;
	height: auto;
	min-height: auto;
	max-height: auto;
	margin: 0 auto;
	padding: auto;
	border: 1px solid #000;
	border-radius: 40%;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.6) inset;
	border-image: url(../images/timg.jpeg) 10/10px;
	background: url(../images/timg.jpeg) no-repeat scroll 10px 20px/50px 60px content-box padding-box;
	background-image: url(../images/timg.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed scroll local;
	background-position: left 20px top 20px;
	background-origin: padding-box border-box content-box;
	color: rgba(0,0,0,.9);
	opacity: .9;
	font-size: 10px;
	font-style: normal italic oblique;
	font-variant:small-caps;
	font-weight: bold;
	font-family: ; /*默认由 user agent决定*/
	text-transform: none;
	text-transform: capitalize;
	text-transform: uppercase;
	text-transform: lowercase;
	text-transform: full-width;
	white-space: normal;
	white-space: pre;
	white-space: nowrap;
	white-space: pre-wrap;
	white-space: pre-line;
	tab-size:;
	word-break: normal keep-all break-all;
	word-wrap: normal break-word;
	overflow-wrap: normal break-word;
	text-align: start;
	text-align: end;
	text-align: left;
	text-align: right;
	text-align: center;
	text-align: justify;
	text-align: match-parent;
	text-align: justify-all;
	text-align-last: auto;
	word-spacing: 20px;
	letter-spacing: 20px;
	text-indent: -20px;
	text-indent: -20%;
	text-indent: each-line;
	text-indent: hanging;
	vertical-align: baseline sub super top text-top middle bottom;
	line-height: 20px;
	text-size-adjust:auto;
}
