.test{
	border: 2px solid #000;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
	clip: rect(auto auto auto 120px);
}
.all{
	position: static;
	position: relative;
	position: absolute;
	position: fixed;
	position: center;
	position: page;
	position: sticky;
	z-index: auto;
	top: auto;
	right: 0;
	bottom: 100%;
	left: 2px;
	clip: auto;
	display: none;
	display: block;
	display: inline;
	display: block;
	display: list-item;
	display: inline-block;
	display: table;
	display: inline-table;
	display: table-caption;
	display: table-cell;
}
